<ion-row>
  <ion-col>
    <ion-header>
      <ion-menu-button color="white"></ion-menu-button>
    </ion-header>
  </ion-col>
</ion-row>

<!-- /////////////////////// MENU CONTENT /////////////////////// -->

<ion-menu side="start" menuId="custom" contentId="main">
  <ion-header>
    <ion-toolbar color="light">
      <ion-title>Naviguer</ion-title>
      <ion-note slot="end" style="margin-right:10px;">
        {{hour}}
      </ion-note>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item button="true" (click)="redirect('home')">
        <ion-icon color="secondary" class="start" name="home"></ion-icon>
        <ion-label>Accueil</ion-label>
        <ion-icon color="secondary" name="chevron-forward" slot="end"></ion-icon>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header color="light">
        <ion-icon color="secondary" class="start" name="home"></ion-icon>
        <strong>A notre échelle</strong>
      </ion-list-header>
      <ion-item button="true" (click)="redirect('conseils')">
        <ion-icon color="secondary" class="start" name="man"></ion-icon>
        <ion-label>Ce que je peux faire</ion-label>
        <ion-icon color="secondary" name="chevron-forward" slot="end"></ion-icon>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header color="light">
        <ion-icon color="secondary" class="start" name="globe"></ion-icon>
        <strong>Plus largement</strong>
      </ion-list-header>
      <ion-item button="true" (click)="redirect('infos')">
        <ion-icon color="secondary" class="start" name="flash"></ion-icon>
        <ion-label>Sources d'énergie</ion-label>
        <ion-icon color="secondary" name="chevron-forward" slot="end"></ion-icon>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header color="light">
        <ion-icon color="secondary" class="start" name="trophy"></ion-icon>
        <strong>Formulaire</strong>
      </ion-list-header>
      <ion-item button="true" (click)="redirect('form')">
        <ion-icon color="secondary" class="start" name="pencil"></ion-icon>
        <ion-label>Aller le remplir</ion-label>
        <ion-icon color="secondary" name="chevron-forward" slot="end"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main"></ion-router-outlet>


<ion-progress-bar slot="fixed" type="indeterminate" *ngIf="submitting"></ion-progress-bar>
<ion-progress-bar slot="fixed" *ngIf="!submitting"></ion-progress-bar>

<ion-content>
<ion-grid style="text-align:center;">

  <ion-title>Formulaire</ion-title>
  <ion-note>Aucune réponse n'est obligatoire, vous pouvez ne répondre qu'aux questions souhaitées</ion-note>

  <ion-row style="border:1px solid white; margin:20px;"></ion-row>
  <ion-title style="text-align:center;">Concernant le site</ion-title>

  <ion-row>
    <ion-col>
      <ion-item color="none" shape="round">
        <ion-label color="secondary" position="floating">Ce site vous a-t-il été utile ? Si oui ou non, pourquoi ?</ion-label>
        <ion-input clearInput="true" color="secondary" placeholder="Utilité" type="text" style="height:100px;"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item color="none" shape="round">
        <ion-label color="secondary" position="floating">Avis général sur le site</ion-label>
        <ion-input clearInput="true" color="secondary" placeholder="Avis" type="text" style="height:100px;"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item color="none" shape="round">
        <ion-label color="secondary" position="floating">Des sections à rajouter selon vous ?</ion-label>
        <ion-input clearInput="true" color="secondary" placeholder="Ajouts" type="text" style="height:100px;"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item color="none" shape="round">
        <ion-label color="secondary" position="floating">Pistes d'amélioration</ion-label>
        <ion-input clearInput="true" color="secondary" placeholder="Améliorations" type="text" style="height:100px;"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row style="border:1px solid white; margin:20px;"></ion-row>
  <ion-title style="text-align:center;">Concernant les énergies</ion-title>
  <ion-note>Préciser dans la réponse si vous soumettez la réponse avant ou après lecture du site</ion-note>

  <ion-row>
    <ion-col>
      <ion-item color="none" shape="round">
        <ion-label color="secondary" position="floating">Avis sur le nucléaire</ion-label>
        <ion-input clearInput="true" color="secondary" placeholder="Avis nucléaire" type="text" style="height:100px;"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item color="none" shape="round">
        <ion-label color="secondary" position="floating">Avis sur l'hydrolique</ion-label>
        <ion-input clearInput="true" color="secondary" placeholder="Avis hydrolique" type="text" style="height:100px;"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item color="none" shape="round">
        <ion-label color="secondary" position="floating">Avis sur l'éolien</ion-label>
        <ion-input clearInput="true" color="secondary" placeholder="Avis éolien" type="text" style="height:100px;"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item color="none" shape="round">
        <ion-label color="secondary" position="floating">Avis sur le solaire</ion-label>
        <ion-input clearInput="true" color="secondary" placeholder="Avis solaire" type="text" style="height:100px;"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item color="none" shape="round">
        <ion-label color="secondary" position="floating">Avis sur la géothermie</ion-label>
        <ion-input clearInput="true" color="secondary" placeholder="Avis géothermie" type="text" style="height:100px;"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item color="none" shape="round">
        <ion-label color="secondary" position="floating">Avis sur la biomasse</ion-label>
        <ion-input clearInput="true" color="secondary" placeholder="Avis biomasse" type="text" style="height:100px;"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button shape="round" color="secondary" (click)="submit()">Envoyer</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-note>{{output}}</ion-note>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
