<ion-row>
  <ion-col>
    <ion-header>
      <ion-menu-button color="white"></ion-menu-button>
    </ion-header>
  </ion-col>
</ion-row>

<!-- /////////////////////// MENU CONTENT /////////////////////// -->

<ion-menu side="start" menuId="custom" contentId="main">
  <ion-header>
    <ion-toolbar color="light">
      <ion-title>Naviguer</ion-title>
      <ion-note slot="end" style="margin-right:10px;">
        {{hour}}
      </ion-note>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item button="true" (click)="redirect('home')">
        <ion-icon color="secondary" class="start" name="home"></ion-icon>
        <ion-label>Accueil</ion-label>
        <ion-icon color="secondary" name="chevron-forward" slot="end"></ion-icon>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header color="light">
        <ion-icon color="secondary" class="start" name="home"></ion-icon>
        <strong>A notre échelle</strong>
      </ion-list-header>
      <ion-item button="true" (click)="redirect('conseils')">
        <ion-icon color="secondary" class="start" name="man"></ion-icon>
        <ion-label>Ce que je peux faire</ion-label>
        <ion-icon color="secondary" name="chevron-forward" slot="end"></ion-icon>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header color="light">
        <ion-icon color="secondary" class="start" name="globe"></ion-icon>
        <strong>Plus largement</strong>
      </ion-list-header>
      <ion-item button="true" (click)="redirect('infos')">
        <ion-icon color="secondary" class="start" name="flash"></ion-icon>
        <ion-label>Sources d'énergie</ion-label>
        <ion-icon color="secondary" name="chevron-forward" slot="end"></ion-icon>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header color="light">
        <ion-icon color="secondary" class="start" name="trophy"></ion-icon>
        <strong>Formulaire</strong>
      </ion-list-header>
      <ion-item button="true" (click)="redirect('form')">
        <ion-icon color="secondary" class="start" name="pencil"></ion-icon>
        <ion-label>Aller le remplir</ion-label>
        <ion-icon color="secondary" name="chevron-forward" slot="end"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main"></ion-router-outlet>


<ion-progress-bar slot="fixed" type="indeterminate" *ngIf="submitting"></ion-progress-bar>
<ion-progress-bar slot="fixed" *ngIf="!submitting"></ion-progress-bar>

<ion-content>
<ion-grid style="text-align:center;">

  <ion-title>Formulaire</ion-title>
  <ion-note>Aucune réponse n'est obligatoire, vous pouvez ne répondre qu'aux questions souhaitées</ion-note>

  <ion-row style="border:1px solid white; margin:20px;"></ion-row>

  <ion-row>
    <ion-col>
      <ion-title>Avez-vous appris des informations sur les énergies renouvelables?</ion-title><br>
      <ion-label>Oui</ion-label>
      <input type="checkbox">
      <ion-label>Non</ion-label>
      <input type="checkbox">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-title>Avez-vous appris de nouvelles astuces pour économiser de l'électricité et de l'argent?</ion-title><br>
      <ion-label>Oui</ion-label>
      <input type="checkbox">
      <ion-label>Non</ion-label>
      <input type="checkbox">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-title>Etes-vous pour l'utilisation du nucléaire?</ion-title><br>
      <ion-label>Oui</ion-label>
      <input type="checkbox">
      <ion-label>Non</ion-label>
      <input type="checkbox">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-title>Avez-vous trouvé notre site agréable et simple à parcourir?</ion-title><br>
      <ion-label>Oui</ion-label>
      <input type="checkbox">
      <ion-label>Non</ion-label>
      <input type="checkbox">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button shape="round" color="secondary" (click)="submit()">Envoyer</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-note>{{output}}</ion-note>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
