<app-menu></app-menu>

<ion-content>
<ion-grid style="width:100%">
  <ion-row>
    <ion-col style="text-decoration:underline; text-align:center;">
      <ion-title>Projet ODD n°7 - Energie propre et durable</ion-title>
    </ion-col>
  </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          Il s'agit, dans les grandes lignes,
          de diminuer notre consommation d'énergie à l'échelle globale mais aussi individuelle,
          produire une électricité propre et renouvelable,
          suffisante pour tous.
        </ion-item>
      </ion-col>
    </ion-row>
  <ion-row>
    <img src="../../assets/home/odd.png" title="ODD n°7">
  </ion-row>
</ion-grid>
</ion-content>
