ion-item{
  text-align:center;
}

ion-col{
  border: solid 1px white;
}

img {
  width:500px;
  height:500px;
  margin-left:auto;
  margin-right:auto;
}

strong{
  font-size:1.5em;
}

ion-icon{
  font-size:20px;
}

.start{
  width:35px;
}
